<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{site.add}">Ajout/Modif site</title>
</head>

<body>
	<main class="container" layout:fragment="content">
		<div class="row">
			<div class="col-1">
				<a th:href="@{/site/liste}"><i class="fa fa-chevron-left"></i></a>
			</div>
			<div class="col-11">
				<h3 th:text="#{site.add}">Ajout d'un site</h3>
			</div>
		</div>

		<div th:errors="${site.*}" class="border pl-3 bg-warning">Toutes
			les erreurs</div>



		<form method="post" th:object="${site}" th:action="@{/site/add}">
			<div class="form-group">
				<label for="id" th:text="#{site.id}"></label> <input type="text"
					th:field="*{id}" class="form-control" readonly
					th:classappend="${#fields.hasErrors('id')} ? is-invalid" required />
				<small id="error_id " th:errors="*{id}"
					class="form-text text-danger">Le id est invalide</small>
			</div>

			<div class="form-group">
				<label for="nomSite" th:text="#{site.nomSite}"></label> <input
					type="text" th:field="*{nomSite}" class="form-control"
					th:classappend="${#fields.hasErrors('nomSite')} ? is-invalid"
					required /> <small id="error_nomSite" th:errors="*{nomSite}"
					class="form-text text-danger">Erreur nomsite</small>
			</div>




			<div class="form-group">
				<label for="nomDemandeur" th:text="#{site.nomDemandeur}"></label> <input
					type="text" th:field="*{nomDemandeur}" class="form-control"
					th:classappend="${#fields.hasErrors('nomDemandeur')} ? is-invalid"
					required /> <small id="error_nomDemandeur"
					th:errors="*{nomDemandeur}" class="form-text text-danger">Erreur
					nomDemandeur</small>
			</div>


			<div class="form-group">
				<label for="adresse" th:text="#{site.adresse}"></label>
				<textarea th:field="*{adresse}" class="form-control"
					style="width: 5cm; height: 3cm;"
					th:classappend="${#fields.hasErrors('adresse')} ? is-invalid"
					required></textarea>
				<small id="error_adresse" th:errors="*{adresse}"
					class="form-text text-danger">Erreur adresse</small>
			</div>






			<button type="submit" class="btn btn-outline-primary"
				th:text="#{action.add}"></button>
		</form>
	</main>
</body>
</html>
