<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>commandes With Total Price And DateRange</title>
</head>
<body>
	<main class="container" layout:fragment="content">



		<!-- Example Thymeleaf loop to display commandes with total prices -->
		<div class="table-responsive">
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Commande ID</th>
						<th scope="col">Total Price</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="row : ${commandesWithTotalPriceAndDateRange}">
						<td th:text="${row[0].id}"></td>
						<td th:text="${row[1]}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<br> <br> <br>

		<!-- Display Total Prices for Site -->
		<div>
			Total Prices for site id <span th:text="${siteId} + ' is' " ></span>: <span
				th:text="${totalPrices}"></span>
		</div>
		<!-- Display Total Ordinary Prices -->
		<div>
			Total Ordinary Prices: <span th:text="${totalOrdinaryPrices}"></span>
		</div>

		<!-- Display Total ExtraOrdinary Prices -->
		<div>
			Total ExtraOrdinary Prices: <span
				th:text="${totalExtraOrdinaryPrices}"></span>
		</div>


		<form action="http://localhost:9090/" method="get">
			<button type="submit" class="btn btn-primary mt-3">Go Back
				to Home</button>
		</form>
	</main>


</body>
</html>