<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Sites</title>
</head>
<body>
    <h1>List of Sites</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Site Name</th>
                <th>Requester Name</th>
                <th>Budget</th>
                <th>Date of Request</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="site : ${sites}">
                <td th:text="${site.id}"></td>
                <td th:text="${site.nomSite}"></td>
                <td th:text="${site.nomDemandeur}"></td>
                <td th:text="${site.budget}"></td>
                <td th:text="${site.dateDemande}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
