<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{site.liste.titre}">List of Sites</title>
</head>

<body>
	<main class="container" layout:fragment="content">

		<div class="row">
			<div class="col">
				<h3 th:text="#{site.liste.titre}"></h3>
			</div>
		</div>

		<div class="row">
			<div class="col">



				<table class="table">

					<thead>
						<tr>
							<th th:text="#{site.id}">id</th>
							<th th:text="#{site.nom}">Nom</th>
							<th th:text="#{site.nomDemandeur}">Nom Demandeur</th>
							<!-- 							<th th:text="#{site.Budget}">Budget</th> -->
							<th th:text="#{actionsCRUD}"></th>
							<th th:text="#{site.adresse}">id</th>
						</tr>
					</thead>



					<tbody>
						<tr th:each="site : ${sites}">
							<td th:text="${site.id}"></td>
							<td th:text="${site.nomSite}"></td>
							<td th:text="${site.nomDemandeur}"></td>
							<td th:text="${site.adresse}"></td>

							<td><a th:href="@{'/site/'+ ${site.id}}"> <i
									class="fa fa-eye"></i>
							</a><a th:href="@{'/site/'+ ${site.id} + '/update'}"><i
									class="fa fa-edit"></i></a><span
								th:lienDelete="@{/site/__${site.id}__/delete}"
								th:onclick='javascript: validationPost(this.getAttribute("lienDelete"))'>
									<i class="fa fa-trash text-danger"></i>
							</span></td>


						</tr>
					</tbody>
				</table>
				<!--  s il n ya pas de module du tout il va afficher ca -->


			</div>
		</div>

	</main>
	<div layout:fragment="optional">
		<script th:src="@{/webjars/bootbox/bootbox.js}"></script>
		<script th:src="@{/js/myJS.js}"></script>
		<script type="text/javascript" th:inline="javascript">	
       /*<![CDATA[*/
       function validationPost(lien){
		var csrf={};
		csrf[ /*[[${#ctx.containsVariable('_csrf')}? ${_csrf.parameterName}:'_csrf']]*/ '_csrf' ] = /*[[${#ctx.containsVariable('_csrf')}?${_csrf.getToken()}:'']]*/ 'vide';
		bootbox.confirm(/*[[#{msgConfirmDelete}]]*/ 'Sure?',
				function(ok){
					if (ok){ post(lien,csrf);}
				})
		}
        /*]]>*/					      
	  </script>
	</div>
</body>
</html>