<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{ingredient.liste.titre}">Liste des ingredients</title>
</head>

<body>
	<main class="container" layout:fragment="content">

		<div class="row">
			<div class="col">
				<h3 th:text="#{ingredient.liste.titre}"></h3>
				<div style="margin-bottom: 10px;">
					<!-- Add margin-bottom to create space -->

					
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col">
				<div th:if="${!sites.isEmpty()}">
					<table class="table">
						<thead>
							<tr>
								<th th:text="#{ingredient.id}"></th>
							
							</tr>
						</thead>

						<tbody>
							<tr th:each="site: ${sites}">
								<td th:text="${site.id}"></td>
						
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>
		</div>
		<button onclick="redirectToAlertListQuantity()">Alerts
			Quantity</button>
		<button onclick="redirectToAlertListValidity()">Alerts
			Validity</button>

	</main>



	<div layout:fragment="optional">
		<script th:src="@{/webjars/bootbox/bootbox.js}"></script>
		<script th:src="@{/js/myJS.js}"></script>
		<script type="text/javascript" th:inline="javascript">	
       /*<![CDATA[*/
       function validationPost(lien){
       // This line declares an empty object named csrf that will be used 
       //to store Cross-Site Request Forgery (CSRF) token information.
		var csrf={};
		csrf[ /*[[${#ctx.containsVariable('_csrf')}? ${_csrf.parameterName}:'_csrf']]*/ '_csrf' ] = /*[[${#ctx.containsVariable('_csrf')}?${_csrf.getToken()}:'']]*/ 'vide';
		bootbox.confirm(/*[[#{msgConfirmDelete}]]*/ 'Sure?',
				function(ok){
					if (ok){ post(lien,csrf);}
				})
		}
		        function redirectToAlertListQuantity() {
			window.location.href = 'http://localhost:5050/alert/listQuantities';
		}		
		 function redirectToAlertListValidity() {
			window.location.href = 'http://localhost:5050/alert/listValidities';
		}
		
        /*]]>*/					      
	  </script>
	</div>
</body>
</html>

