<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Commandes Report</title>

<!-- Include Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Optionally include Bootstrap JavaScript (if needed) -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
</head>
<body class="container">
	<h1>Select Site and Date Range</h1>

	<form th:action="@{/commandes/site/year}" method="post">
		<div class="form-group">
			<label for="siteId">Select Site:</label> <select name="siteId"
				id="siteId" class="form-control" required>
				<option th:each="site : ${sites}" th:value="${site.id}"
					th:text="${site.nomSite}"></option>
			</select>
		</div>

		<div class="form-group">
			<label for="year">Year:</label> <input type="number" id="year"
				name="year" class="form-control" required>
		</div>

		<button type="submit" class="btn btn-primary">Generate Report</button>
	</form>



</body>
</html>
