<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{site.detail.titre}">Détail du site</title>
</head>

<body>

	<main class="container" layout:fragment="content">
		<div class="row">
			<div class="col-1">
				<a th:href="@{/site/liste}"><i class="fa fa-chevron-left"></i></a>
			</div>
			<div class="col-11">
				<h3 th:text="#{site.detail.titre}">Titre</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-4" th:text="#{site.id}">id</div>

			<div class="col-8" th:text="${site.id}">Valeur</div>
				</div>

			<div class="row">
				<div class="col-4" th:text="#{site.nom}">nomSite</div>

				<div class="col-8" th:text="${site.nomSite}">Valeur</div>

			</div>
			<div class="row">
				<div class="col-4" th:text="#{site.nomDemandeur}">nomDemandeur</div>

				<div class="col-8" th:text="${site.nomDemandeur}">Valeur</div>

			</div>
			<div class="row">
				<div class="col-4" th:text="#{site.adresse}">nomDemandeur</div>

				<div class="col-8" th:text="${site.adresse}">Valeur</div>

			</div>

<!-- 			<div class="row"> -->
<!-- 				<div class="col p-2 text-left"> -->
<!-- 					<a class="btn btn-outline-success" -->
<!-- 						th:href="@{|/site/${site.id}/update|}" th:text="#{action.update}"></a> -->
<!-- 				</div> -->
<!-- 			</div> -->
	</main>
	<div layout:fragment="optional">
		<script th:src="@{/webjars/bootbox/bootbox.js}"></script>
		<script th:src="@{/js/myJS.js}"></script>
		<script type="text/javascript" th:inline="javascript">	
       /*<![CDATA[*/
       function validationPost(lien){
		var csrf={};
		csrf[ /*[[${#ctx.containsVariable('_csrf')}? ${_csrf.parameterName}:'_csrf']]*/ '_csrf' ] = /*[[${#ctx.containsVariable('_csrf')}?${_csrf.getToken()}:'']]*/ 'vide';
		bootbox.confirm(/*[[#{msgConfirmDelete}]]*/ 'Sure?',
				function(ok){
					if (ok){ post(lien,csrf);}
				})
		}
        /*]]>*/					      
	  </script>
	</div>
</body>
</html>
