<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{site.update}">Modif de site</title>
</head>

<body>
	<main class="container" layout:fragment="content">

		<div class="row">
			<div class="col-1">
				<a th:href="@{/site/liste}"><i class="fa fa-chevron-left"></i></a>
			</div>
			<div class="col-11">
				<h3 th:text="#{site.update}">Modif d'un site</h3>
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
			</div>
		</div>

		<form method="post" th:object="${site}"
			th:action="@{/site/__${site.id}__/update}">
			<div class="form-group">
				<label for="id" th:text="#{site.id}"></label> <input type="text"
					th:field="*{id}" class="form-control"
					th:classappend="${#fields.hasErrors('id')} ? is-invalid" required
					readonly />

			</div>
			<div class="form-group">
				<label for="nomSite" th:text="#{site.nomSite}"></label> <input
					type="text" th:field="*{nomSite}" class="form-control"
					th:classappend="${#fields.hasErrors('nomSite')} ? is-invalid"
					required /> <small id="error_nomSite" th:errors="*{nomSite}"
					class="form-text text-danger">Erreur nomsite</small>
			</div>


			<div class="form-group">
				<label for="nomDemandeur" th:text="#{site.nomDemandeur}"></label> <input
					type="text" th:field="*{nomDemandeur}" class="form-control"
					th:classappend="${#fields.hasErrors('nomDemandeur')} ? is-invalid"
					required /> <small id="error_nomDemandeur"
					th:errors="*{nomDemandeur}" class="form-text text-danger">Erreur
					nomDemandeur</small>
			</div>


			<div class="form-group">
				<label for="adresse" th:text="#{site.adresse}"></label> <input
					type="text" th:field="*{adresse}" class="form-control"
					th:classappend="${#fields.hasErrors('adresse')} ? is-invalid"
					required /> <small id="error_adresse" th:errors="*{adresse}"
					class="form-text text-danger">Erreur adresse</small>
			</div>





			<button type="submit" class="btn btn-outline-primary"
				th:text="#{action.update}"></button>
		</form>
	</main>
	<div layout:fragment="optional">
		<script th:src="@{/webjars/bootbox/bootbox.js}"></script>
		<script th:src="@{/js/myJS.js}"></script>
		<script type="text/javascript" th:inline="javascript">	
       /*<![CDATA[*/
       function validationPost(lien){
		var csrf={};
		csrf[ /*[[${#ctx.containsVariable('_csrf')}? ${_csrf.parameterName}:'_csrf']]*/ '_csrf' ] = /*[[${#ctx.containsVariable('_csrf')}?${_csrf.getToken()}:'']]*/ 'vide';
		bootbox.confirm(/*[[#{msgConfirmDelete}]]*/ 'Sure?',
				function(ok){
					if (ok){ post(lien,csrf);}
				})
		}
        /*]]>*/					      
	  </script>
	</div>
</body>
</html>
