<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{produit.liste.titre}">Liste des Produits</title>
</head>

<body>
	<main class="container" layout:fragment="content">

		<div class="row">
			<div class="col">
				<h3 th:text="#{produit.liste.titre}"></h3>
				<div style="margin-bottom: 10px;">
					<!-- Add margin-bottom to create space -->

					<form id="produitSearchForm" action="/produit/liste"
						method="get">
						<input type="hidden" name="${_csrf.parameterName}"
							value="${_csrf.token}" /> <input type="text"
							id="produitSearchInput" name="searchTerm"
							placeholder="Search Product..." />
						<button type="submit">Search</button>
					</form>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col">
				<div th:if="${!produitsList.isEmpty()}">
					<table class="table">
						<thead>
							<tr>
								<th th:text="#{produit.id}"></th>
								<th th:text="#{produit.nomProduit}"></th>
								<th th:text="#{produit.categorie}"></th>
								<th th:text="#{produit.prix}"></th>
								<th th:text="#{produit.stock}"></th>
								<th th:text="#{produit.license}"></th>

								<!-- <th th:text="#{actionsCRUD}"></th> -->
							</tr>
						</thead>

						<tbody>
							<tr th:each="produit: ${produitsList}">
								<td th:text="${produit.id}"></td>
								<td th:text="${produit.nomProduit}"></td>
								<td th:text="${produit.categorie}"></td>
								<td th:text="${produit.prix}"></td>
								<td th:text="${produit.stock}"></td>
								<td th:text="${produit.description}"></td>



								<!-- 								<td><a th:href="@{'/ingredient/'+ ${ingredient.id}}"> <i -->
								<!-- 										class="fa fa-eye"></i> -->
								<!-- 								</a> <a th:href="'/ingredient/' + ${ingredient.id} + '/update'"><i -->
								<!-- 										class="fa fa-edit"></i></a> <span -->
								<!-- 									th:lienDelete="@{/ingredient/__${ingredient.id}__/delete}" -->
								<!-- 									th:onclick='javascript: validationPost(this.getAttribute("lienDelete"))'> -->
								<!-- 										<i class="fa fa-trash text-danger"></i> -->
								<!-- 								</span></td> -->




							</tr>
						</tbody>
					</table>
				</div>
				<!-- 				<div th:unless="${!ingredientsList.isEmpty()}" -->
				<!-- 					th:text="#{ingredient.Aucun}">La liste des ingredient est -->
				<!-- 					vide</div> -->
				<!-- 			</div> -->
				<!-- 		</div> -->
				<!-- 		<button onclick="redirectToAlertListQuantity()">Alerts -->
				<!-- 			Quantity</button> -->
				<!-- 		<button onclick="redirectToAlertListValidity()">Alerts -->
				<!-- 			Validity</button> -->
	</main>



<!-- 	<div layout:fragment="optional">
		<script th:src="@{/webjars/bootbox/bootbox.js}"></script>
		<script th:src="@{/js/myJS.js}"></script>
		<script type="text/javascript" th:inline="javascript">	
       /*<![CDATA[*/
       function validationPost(lien){
       // This line declares an empty object named csrf that will be used 
       //to store Cross-Site Request Forgery (CSRF) token information.
		var csrf={};
		csrf[ /*[[${#ctx.containsVariable('_csrf')}? ${_csrf.parameterName}:'_csrf']]*/ '_csrf' ] = /*[[${#ctx.containsVariable('_csrf')}?${_csrf.getToken()}:'']]*/ 'vide';
		bootbox.confirm(/*[[#{msgConfirmDelete}]]*/ 'Sure?',
				function(ok){
					if (ok){ post(lien,csrf);}
				})
		}
		        function redirectToAlertListQuantity() {
			window.location.href = 'http://localhost:5050/alert/listQuantities';
		}		
		 function redirectToAlertListValidity() {
			window.location.href = 'http://localhost:5050/alert/listValidities';
		}
		
        /*]]>*/					      
	  </script>
	</div> -->
</body>
</html>

