<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{Certificat.add}">Ajout/Modif d'un Certificat</title>
</head>

<body>
	<main class="container" layout:fragment="content">
		<div class="row">
			<div class="col-1">
				<a th:href="@{/module/liste}"><i class="fa fa-chevron-left"></i></a>
			</div>
			<div class="col-11">
				<h3 th:text="#{Certificat.add}">Ajout d'un module</h3>
			</div>
		</div>
		<!--video ici pour les erreurs--tous les champs de moduleDto-	${moduleDto.*} -->

		<div th:errors="${certificatDto.*}" class="border pl-3 bg-warning">Toutes les erreurs</div>


		<form method="post" th:object="${siteDto}"
			th:action="@{'/certificat/add'}">
			<div class="form-group">
				<!--13-2Dec--20min -->
				<label for="idCertificat" th:text="#{certificat}">certificat</label>
				<input type="text" th:field="*{idCertificat}" class="form-control"
					th:classappend="${#fields.hasErrors('idCertificat')} ? is-invalid"
					readonly="readonly" /> <small id="error_Certificat"
					th:errors="*{idCertificat}" class="form-text text-danger">Le
					certificat est invalide</small>
			</div>



			<div class="form-group">
				<label for="dateDebut" th:text="#{certificat.dateDebut}"></label> <input
					type="date" th:field="*{dateDebut}" class="form-control"
					th:classappend="${#fields.hasErrors('dateDebut')} ? is-invalid"
					required /> <small id="error_dateDebut" th:errors="*{dateDebut}"
					class="form-text text-danger">Erreur dateDebut</small>
			</div>
			<!-- 	video  s' il ya des erreurs sur le champs dateFin(voir tag small)
			il va ecrire le message en rouge en dessous -->
			<div class="form-group">
				<label for="dateFin" th:text="#{certificat.dateFin}"></label> <input
					type="date" th:field="*{dateFin}" class="form-control"
					th:classappend="${#fields.hasErrors('dateDebut')} ? is-invalid"
					required /> <small id="error_dateFin" th:errors="*{dateFin}"
					class="form-text text-danger">Erreur dateFin</small>
			</div>
			<!--video -->
			<div class="form-group">
				<label for="etudiant" th:text="#{id.etudiant}"></label> <input
					type="text" th:field="*{etudiant}" class="form-control"
					th:classappend="${#fields.hasErrors('etudiant')} ? is-invalid"
					required /> <small id="error_etudiant" th:errors="*{etudiant}"
					class="form-text text-danger">Erreur etudiant</small>
			</div>


			<div class="form-group">
				<label for="nom_Medecin" th:text="#{nom.Medecin}"></label> <input
					type="text" th:field="*{nom_Medecin}" class="form-control"
					th:classappend="${#fields.hasErrors('nom_Medecin')} ? is-invalid"
					required /> <small id="error_nom_Medecin"
					th:errors="*{nom_Medecin}" class="form-text text-danger">Erreur
					Nom Medecin</small>
			</div>

			<button type="submit" class="btn btn-outline-primary"
				th:text="#{action.add}"></button>



		</form>
	</main>
	<div layout:fragment="optional">
		<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	function selectOne(box){
		const boxes2 =document.querySelectorAll('[id^= moment]')
		boxes2.forEach((item)=>{
		if (item !== box) item.checked = false
})}

/*]]>*/ 
	</script>
	</div>

</body>
</html>
