<!-- a la ligne 4 on a ajoute spring-security -->
<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{produit.liste.titre}">Order Form</title>
</head>

<body>
	<main class="container" layout:fragment="content">

		<div class="row">
			<div class="col">
				<h3 th:text="#{produit.liste.titre}"></h3>
			</div>
		</div>

		<div class="row">
			<div class="col">

				<div th:if="${!commandeWrapper.produitsDto.isEmpty()}">

					<form th:action="@{/site/submit-new-order}" method="post"
						th:object="${commandeWrapper}">
						<!-- Site Selection -->
						<div class="form-group">
							<label for="site">Site :</label> <select name="Site.id">
								<option th:each="site : ${sites}" th:value="${site.id}"
									th:text="${site.nomSite}"></option>
							</select>
						</div>
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" /> <br> <br> <br>

						<!-- Product Selection -->
						<div class="form-group">
							<label for="product">Product :</label> <select
								name="selectedProductId">
								<option th:each="produitDto : ${commandeWrapper.produitsDto}"
									th:value="${produitDto.id}" th:text="${produitDto.nomProduit}">
								</option>
							</select>

						</div>

						<!-- Quantity Field -->
						<div class="form-group">
							<label for="quantity">Quantity :</label> <input
								class="form-control" type="text"
								th:field="*{produitsDto[0].quantity}" />
						</div>

						<button type="submit">Order Now</button>
						<button type="button" onclick="deselectCheckboxes()">Deselect
							All</button>
					</form>

					<!-- s il n ya pas de module du tout il va afficher ca -->
				</div>

				<div th:unless="${!commandeWrapper.produitsDto.isEmpty()}"
					th:text="#{sandwich.Aucun}">La liste des sandwiches est vide</div>
			</div>
		</div>
	</main>
	<script type="text/javascript">
		function deselectCheckboxes() {
		    console.log("Function called"); // Check if this appears in the console
		    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
		    checkboxes.forEach(function(checkbox) {
		        checkbox.checked = false;
		    });
		}
	</script>
</body>
</html>
