<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{Certificat.add}">Ajout/Modif d'un Certificat</title>
</head>
<h1>Commande Saved Successfully</h1>
<p>Your command has been saved successfully.</p>
<body>


</body>
</html>

