<!--  a la ligne 4 on a ajoute spring-security -->
<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{produit.liste.titre}">Liste des Produits</title>
</head>

<body>
	<main class="container" layout:fragment="content">

		<div class="row">
			<div class="col">
				<h3 th:text="#{produit.liste.titre}"></h3>
			</div>
		</div>

		<div class="row">
			<div class="col">

				<div th:if="${!commandeWrapper.produitsDto.isEmpty()}">

					<form th:action="@{/site/submit-new-order}" method="post"
						th:object="${commandeWrapper}">
						<!-- Site Selection -->
						<div class="form-group">
							<label for="site">Site :</label> <select name="Site.id">
								<option th:each="site : ${sites}" th:value="${site.id}"
									th:text="${site.nomSite}"></option>
							</select>
						</div>
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" /> <br> <br> <br>
						<table class="table">

							<thead>
								<tr>

									<th>Nom Produit</th>
									<th>Select</th>
									<th>Quantity</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="produitDto, row: ${commandeWrapper.produitsDto}">




									<td><span th:text="${produitDto.nomProduit}">IPID-1A</span>
										<input hidden="true" value="${produitDto.nomProduit}"
										type="text"
										th:field="*{produitsDto[__${row.index}__].nomProduit}" /></td>










									<td><input type="checkbox"
										th:field="*{produitsDto[__${row.index}__].selected}"
										th:value="${produitDto.selected}" /></td>



									<td><input th:class="form-control" type="text"
										th:field="*{produitsDto[__${row.index}__].quantity}"
										th:value="${produitDto.quantity}" style="width: 75px" /></td>

								</tr>
							</tbody>
						</table>

						<button type="submit">Order Now</button>
						<button type="button" onclick="deselectCheckboxes()">Deselect
							All</button>




					</form>
					<!-- s il n ya pas de module du tout il va afficher ca -->
				</div>
				<div th:unless="${!commandeWrapper.produitsDto.isEmpty()}"
					th:text="#{sandwich.Aucun}">La liste des sandwiches est vide</div>
			</div>
		</div>



	</main>
	<script type="text/javascript">
function deselectCheckboxes() {
    console.log("Function called"); // Check if this appears in the console

    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    checkboxes.forEach(function(checkbox) {
        checkbox.checked = false;
    });
}
</script>


</body>
</html>