<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Nouvelle Commande</title>
</head>
<body>
	<h1>Nouvelle Commande</h1>

	<form th:action="@{/site/nouvelle-commande}" th:object="${commande}"
		method="post">
		<!-- Site Selection -->
		<div class="form-group">
			<label for="site">Site :</label> <select th:field="*{site.id}">
				<!-- Bind site.id to the site field's id property -->
				<option th:each="site : ${sites}" th:value="${site.id}"
					th:text="${site.nomSite}"></option>
			</select>
		</div>


		<br>

		<!-- Product Selection -->
		<div class="form-group">
			<label for="selectedProducts">Select Products:</label>
			<div th:each="product : ${produits}">
				<div class="form-check">
					<input class="form-check-input" type="checkbox"
						th:field="*{quantities[__${product.id}__]}" value="1"> <label
						class="form-check-label" th:for="${'product-' + product.id}"
						th:text="${product.nomProduit}"></label>

					<!-- Quantity Input -->
					<input type="number" class="form-control" placeholder="Quantity"
						th:field="*{quantities[__${product.id}__]}" min="0">
				</div>
			</div>
		</div>



		<br>

		<!-- Submit Button -->
		<input type="submit" value="Passer la commande">
	</form>

</body>
</html>
