<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Nouvelle Commande</title>
</head>
<body>
	<h1>Nouvelle Commande</h1>

	<form th:action="@{/site/nouvelle-commande2}"
		th:object="${commandeWrapper}" method="post">
		<!-- Site Selection -->
		<div class="form-group">
			<label for="site">Site :</label> <select name="Site.id">
				<option th:each="site : ${sites}" th:value="${site.id}"
					th:text="${site.nomSite}"></option>
			</select>
		</div>

		<br> <br> <br>

		<!-- List of Products -->
		<div>

			<!-- Inside the <form> element -->
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Nom Produit</th>
						<th>Prix</th>
						<th>Select</th>
						<th>Quantity</th>
					</tr>
				</thead>
				<tbody>
					<tr
						th:each="produitDto, produitStatus : ${commandeWrapper.produitsDto}">
						<td th:text="${produitDto.id}"></td>
						<td th:text="${produitDto.nomProduit}"></td>
						<td th:text="${produitDto.prix}"></td>
						<td><input type="checkbox"
							th:field="*{produitsDto[__${produitStatus.index}__].selected}" /></td>
						<td><input type="number"
							th:field="*{produitsDto[__${produitStatus.index}__].quantity}"
							min="0" /></td>
					</tr>
				</tbody>
			</table>

		</div>

		<br> <br> <br>
		<!-- Submit Button -->
		<input type="submit" value="Passer la commande">
	</form>
</body>
</html>
