<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
<title th:text="#{site.add}">Ajout Commande</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
	<main class="container" layout:fragment="content">

		<h4>Selected Site</h4>
		<p>
			The selected site is: <span th:text="${commandeWrapper.site.id}">Default
				Site</span>
		</p>
		<br>
		<h4>Selected Product</h4>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Product Name</th>
<!-- 						<th>Price</th> -->
						<th>Quantity</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="produitDto : ${produitsDto}">
						<td th:text="${produitDto.nomProduit}">Product Name</td>
<!-- 						<td th:text="${produitDto.prix}">Price</td> -->
						<td th:text="${produitDto.quantity}">Quantity</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<br>
		<h2>Total Price</h2>
		<p>
			<!-- Display the label on the first line -->
			Prix total de la commande du site avec l'Id:
			<!-- Display the site ID and total price on the next line -->
			<span th:text="${commandeWrapper.site.id}"></span> <br> <br>

			<!-- Display the total price in bold, red, and with a font size of 22 -->
			<span style="font-weight: bold; color: red; font-size: 22px;"
				th:text="${totalPrice}"></span>


		</p>
		<!-- Add a "Go Back" button to redirect to the home page -->
		<form action="/" method="get">
			<button type="submit" class="btn btn-primary mt-3">New Order</button>
		</form>


	</main>
	<div layout:fragment="optional"></div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
