<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{module.add}">Ajout/Modif du cours</title>
</head>

<body>
	<main class="container" layout:fragment="content">

		<h1>Selected Site</h1>
		<p>
			The selected site is: <span th:text="${commandeWrapper.site.id}">Default
				Site</span>
		</p>

	</main>
	<div layout:fragment="optional"></div>

</body>
</html>
