<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Order Summary</title>
</head>
<body>
	<main class="container" layout:fragment="content">


		<h2>Order Summary</h2>
		<h2>Selected Sandwiches:</h2>
		
		<h2>Total Price:</h2>  
		<p th:text="'€' + ${totalPrice}"></p>
	</main>
</body>
</html>