<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{produit.detail.titre}">Détail du produit</title>
</head>

<body>

	<main class="container" layout:fragment="content">
		<div class="row">
			<div class="col-1">
				<a th:href="@{/produit/liste}"><i class="fa fa-chevron-left"></i></a>
			</div>
			<div class="col-11">
				<h3 th:text="#{produit.detail.titre}">Titre</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-4" th:text="#{produit.id}">id</div>


			<div class="col-8" th:text="${produit.id}">Valeur</div>

		</div>

		<div class="row">
			<div class="col-4" th:text="#{produit.nomProduit}">nomProduit</div>

			<div class="col-8" th:text="${produit.nomProduit}">Valeur</div>

		</div>


		<div class="row">
			<div class="col-4" th:text="#{produit.categorie}">categorie</div>

			<div class="col-8" th:text="${produit.categorie}">Valeur</div>

		</div>


		<div class="row">
			<div class="col-4" th:text="#{produit.prix}">prix</div>

			<div class="col-8" th:text="${produit.prix}">Valeur</div>

		</div>


		<div class="row">
			<div class="col-4" th:text="#{produit.stock}">stock</div>

			<div class="col-8" th:text="${produit.stock}">Valeur</div>

		</div>



		<div class="row">
			<div class="col-4" th:text="#{produit.description}">description</div>

			<div class="col-8" th:text="${produit.description}">Valeur</div>

		</div>


	</main>

</body>
</html>
