<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{produit.update}">Modif de produit</title>
</head>

<body>
	<main class="container" layout:fragment="content">
		<div class="row">
			<div class="col-1">
				<a th:href="@{/produit/liste}"><i class="fa fa-chevron-left"></i></a>
			</div>
			<div class="col-11">
				<h3 th:text="#{produit.update}">Modif d'un produit</h3>
			</div>
		</div>

		<div th:errors="${produit.*}" class="border pl-3 bg-warning">Toutes
			les erreurs</div>

		<!--   th:action je l'ai copie de professeur "> -->
		<form method="post" th:object="${produit}"
			th:action="@{/produit/__${produit.id}__/update}">
			<div class="form-group">
				<label for="id" th:text="#{produit.id}"></label> <input type="text"
					th:field="*{id}" class="form-control"
					th:classappend="${#fields.hasErrors('id')} ? is-invalid" required  readonly/>
				<small id="error_id" th:errors="*{id}" class="form-text text-danger">L'id
					est invalide</small>
			</div>
			<div class="form-group">
				<label for="nomProduit" th:text="#{produit.nomProduit}"></label> <input
					type="text" th:field="*{nomProduit}" class="form-control"
					th:classappend="${#fields.hasErrors('nomProduit')} ? is-invalid"
					required /> <small id="error_nomProduit" th:errors="*{nomProduit}"
					class="form-text text-danger">Erreur nomProduit</small>
			</div>


			<div class="form-group">
				<label for="categorie" th:text="#{produit.categorie}"></label> <input
					type="number" th:field="*{categorie}" class="form-control"
					th:classappend="${#fields.hasErrors('categorie')} ? is-invalid"
					required /> <small id="error_categorie" th:errors="*{categorie}"
					class="form-text text-danger">Erreur categorie</small>
			</div>


			<div class="form-group">
				<label for="prix" th:text="#{produit.prix}"></label> <input
					type="text" th:field="*{prix}" class="form-control"
					th:classappend="${#fields.hasErrors('prix')} ? is-invalid"  required  />
				<small id="error_prix" th:errors="*{prix}"
					class="form-text text-danger">Erreur prix</small>
			</div>

			<div class="form-group">
				<label for="stock" th:text="#{produit.stock}"></label> <input
					type="text" th:field="*{stock}" class="form-control"
					th:classappend="${#fields.hasErrors('stock')} ? is-invalid"
					required  /> <small id="error_stock" th:errors="*{stock}"
					class="form-text text-danger">Erreur stock</small>
			</div>

			<div class="form-group">
				<label for="prix" th:text="#{produit.description}"></label> <input
					type="text" th:field="*{description}" class="form-control"
					th:classappend="${#fields.hasErrors('description')} ? is-invalid"
					required /> <small id="error_description"
					th:errors="*{description}" class="form-text text-danger">Erreur
					description</small>
			</div>


			<button type="submit" class="btn btn-outline-primary"
				th:text="#{action.update}"></button>
		</form>
	</main>
	<div layout:fragment="optional">
		<script th:src="@{/webjars/bootbox/bootbox.js}"></script>
		<script th:src="@{/js/myJS.js}"></script>
		<script type="text/javascript" th:inline="javascript">	
       /*<![CDATA[*/
       function validationPost(lien){
		var csrf={};
		csrf[ /*[[${#ctx.containsVariable('_csrf')}? ${_csrf.parameterName}:'_csrf']]*/ '_csrf' ] = /*[[${#ctx.containsVariable('_csrf')}?${_csrf.getToken()}:'']]*/ 'vide';
		bootbox.confirm(/*[[#{msgConfirmDelete}]]*/ 'Sure?',
				function(ok){
					if (ok){ post(lien,csrf);}
				})
		}
        /*]]>*/					      
	  </script>
	</div>
</body>
</html>
