@charset "ISO-8859-1";

i:hover {
	background-color: #b8faf7;
}

/* Add CSS style to create equal distance between label and input */
.form-group {
	margin-bottom: 10px; /* Adjust this value as needed */
}

.form-group label {
	display: inline-block;
	width: 120px; /* Adjust this value as needed */
}

.form-group input {
	width: 200px; /* Adjust this value as needed */
}

