<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>

<!-- Required meta tags for bootstrap-->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Home Page</title>
<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
	<div layout:fragment="content">
		<script>
          function redirectToNouvelle_commande() {
            window.location.href = " http://localhost:9090/site/create-new-order";
                           
        }
    </script>

		<h1 th:text="${welcome}" style="color: red;">Welcome!</h1>
		<h2 th:text="#{home.titre}" style="margin-bottom: 50px;">un titre</h2>
		<img th:src="@{/images/ett.png}" style="margin-bottom: 50px;"
			alt="Logo">

		<div class="button-container">

			<button onclick="redirectToNouvelle_commande()"
				class="btn btn-primary mt-3">Make your Order Now!</button>

		</div>

		<form action="http://localhost:9090/commandes/1" method="get">
			<button type="submit" class="btn btn-primary mt-3">Site
				Orders</button>
		</form>

		<form action="http://localhost:9090/site/report" method="get">
			<button type="submit" class="btn btn-primary mt-3">Generate
				Site Budget</button>
		</form>



	</div>


</body>
</html>