<!DOCTYPE html>
<html lang="en" 
 xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout}">
<head>
 <!-- Required meta tags for bootstrap-->
 <meta charset="utf-8">
 <meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <title>Home Page</title>

</head>
<body> 
 <div layout:fragment="content">
    <h1  th:text="#{home.bienvenu}+ ' : '  +${prof}">
			Bienvenu liste Produits
	</h1>
	<h2 th:text="#{home.titre}">un titre</h2>

	<a th:href="@{/produit/liste}">Liste des Produits</a>
	<p>
		Locale: <span th:text=" ${#locale}">locale</span>
	</p>
     <div sec:authorize="hasAnyRole('PROF')">
         Welcome Monsieur <b><span sec:authentication="name">Username</span></b> &nbsp;
         <br />

         <a th:href="@{'http://localhost:9090/module/liste/'+${prof.toLowerCase()}}"><button  class="btn btn-outline-primary" th:text="#{cours.presences}"> </button></a>

     </div>
     
     
         <div sec:authorize="hasAnyRole('SECRETARIAT' ,'ADMIN')">
         Welcome Monsieur <b><span sec:authentication="name">Username</span></b> &nbsp;
         <br />

         <a th:href="@{'http://localhost:9090/certificat/add/'}"><button  class="btn btn-outline-primary" th:text="#{etudiant.CM}"> </button></a>

     </div>
     
     
     
     
	
	<div class="d-inline-flex p-1 " th:classappend="${#authentication.name ne 'anonymousUser'}?'bg-success':'bg-warning'">
	 <div class="p-2" sec:authentication="name" ></div>
     <div class="p-2" sec:authentication="authorities"></div>
    </div>
    
	<div th:insert="fragments/fragments.html:: message(Hello)">
  Coucou
 </div> 
	
 </div> 
 
</body>
</html>