<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>


<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Home Page</title>
<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
	<div layout:fragment="content">

		<h1 th:text="${welcome}" style="color: red;">Welcome!</h1>
		<h2 th:text="#{home.titre}" style="margin-bottom: 50px;">un titre</h2>

		<nav
			class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
			<div class="navbar-nav">
				<button onclick="redirectToNouvelle_commande()"
					class="btn btn-primary mt-3 mx-2">Make your Order Now!</button>
				<form action="http://localhost:9090/commandes/1" method="get"
					class="mx-2">
					<button type="submit" class="btn btn-primary mt-3">Site
						Orders</button>
				</form>
				<form action="http://localhost:9090/site/report" method="get"
					class="mx-2">
					<button type="submit" class="btn btn-primary mt-3">Generate
						Site Budget</button>
				</form>
			</div>
		</nav>

		<script>
            function redirectToNouvelle_commande() {
                window.location.href = "http://localhost:9090/site/create-new-order";
            }
        </script>
<br><br><br><br>
		<img th:src="@{/images/ett.png}" style="margin-bottom: 50px;"
			alt="Logo">


	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
