<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{fournisseur.add}">Ajout/Modif fournisseur</title>
</head>

<body>
	<main class="container" layout:fragment="content">
		<div class="row">
			<div class="col-1">
				<a th:href="@{/fournisseur/liste}"><i class="fa fa-chevron-left"></i></a>
			</div>
			<div class="col-11">
				<h3 th:text="#{fournisseur.add}">Ajout d'un fournisseur</h3>
			</div>
		</div>

		<div th:errors="${fournisseur.*}" class="border pl-3 bg-warning">Toutes
			les erreurs</div>

		<form method="post" th:object="${fournisseur}"
			th:action="@{/fournisseur/add}">
			<div class="form-group">
				<label for="id" th:text="#{fournisseur.id}"></label> <input
					type="text" th:field="*{id}" class="form-control" readonly
					th:classappend="${#fields.hasErrors('id')} ? is-invalid" required />
				<small id="error_id " th:errors="*{id}"
					class="form-text text-danger">Le id est invalide</small>
			</div>
			<div class="form-group">
				<label for="nomFournisseur" th:text="#{fournisseur.nomFournisseur}"></label>
				<input type="text" th:field="*{nomFournisseur}" class="form-control"
					th:classappend="${#fields.hasErrors('nomFournisseur')} ? is-invalid"
					required /> <small id="error_nomFournisseur"
					th:errors="*{nomFournisseur}" class="form-text text-danger">Erreur
					nomFournisseur</small>
			</div>





			<button type="submit" class="btn btn-outline-primary"
				th:text="#{action.add}"></button>
		</form>
	</main>
</body>
</html>
