<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{fournisseur.liste.titre}">List de Fournisseurs</title>
</head>

<body>
	<main class="container" layout:fragment="content">

		<div class="row">
			<div class="col">
				<h3 th:text="#{fournisseur.liste.titre}"></h3>
			</div>
		</div>

		<div class="row">
			<div class="col">



				<table class="table">

					<thead>
						<tr>
							<th th:text="#{fournisseur.id}">id</th>
							<th th:text="#{fournisseur.nom}">Nom</th>
							
							<th th:text="#{actionsCRUD}"></th>
						</tr>
					</thead>



					<tbody>
						<tr th:each="fournisseur : ${fournisseurs}">
							<td th:text="${fournisseur.id}"></td>
							<td th:text="${fournisseur.nomFournisseur}"></td>
							
								<td><a th:href="@{'/fournisseur/'+ ${fournisseur.id}}"> <i
									class="fa fa-eye"></i>
							</a><a th:href="@{'/fournisseur/'+ ${fournisseur.id} + '/update'}"><i
										class="fa fa-edit"></i></a><span
									th:lienDelete="@{/fournisseur/__${fournisseur.id}__/delete}"
									th:onclick='javascript: validationPost(this.getAttribute("lienDelete"))'>
										<i class="fa fa-trash text-danger"></i>
								</span></td>							

						</tr>
					</tbody>
				</table>


			</div>
		</div>

	</main>
	<div layout:fragment="optional">
		<script th:src="@{/webjars/bootbox/bootbox.js}"></script>
		<script th:src="@{/js/myJS.js}"></script>
		<script type="text/javascript" th:inline="javascript">	
       /*<![CDATA[*/
       function validationPost(lien){
		var csrf={};
		csrf[ /*[[${#ctx.containsVariable('_csrf')}? ${_csrf.parameterName}:'_csrf']]*/ '_csrf' ] = /*[[${#ctx.containsVariable('_csrf')}?${_csrf.getToken()}:'']]*/ 'vide';
		bootbox.confirm(/*[[#{msgConfirmDelete}]]*/ 'Sure?',
				function(ok){
					if (ok){ post(lien,csrf);}
				})
		}
        /*]]>*/					      
	  </script>
	</div>
</body>
</html>