<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{fournisseur.update}">Modif de fournisseur</title>
</head>

<body>
	<main class="container" layout:fragment="content">

		<div class="row">
			<div class="col-1">
				<a th:href="@{/fournisseur/liste}"><i class="fa fa-chevron-left"></i></a>
			</div>
			<div class="col-11">
				<h3 th:text="#{fournisseur.update}">Modif d'un fournisseur</h3>
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
			</div>
		</div>




		<form method="post" th:object="${fournisseur}"
			th:action="@{/fournisseur/__${fournisseur.id}__/update}">
			<div class="form-group">
				<label for="id" th:text="#{fournisseur.id}"></label> <input type="text"
					th:field="*{id}" class="form-control"
					th:classappend="${#fields.hasErrors('id')} ? is-invalid" required readonly />
				<small id="error_id" th:errors="*{id}" class="form-text text-danger">L'id
					est invalide</small>
			</div>
			<div class="form-group">
				<label for="nomFournisseur" th:text="#{fournisseur.nom}"></label> <input
					type="text" th:field="*{nomFournisseur}" class="form-control"
					th:classappend="${#fields.hasErrors('nomFournisseur')} ? is-invalid"
					required /> <small id="error_nomFournisseur" th:errors="*{nomFournisseur}"
					class="form-text text-danger">Erreur nomFournisseur</small>
			</div>


				
	
			
			
			
			
			
			<button type="submit" class="btn btn-outline-primary"
				th:text="#{action.update}"></button>
		</form>
	</main>
	<div layout:fragment="optional">
		<script th:src="@{/webjars/bootbox/bootbox.js}"></script>
		<script th:src="@{/js/myJS.js}"></script>
		<script type="text/javascript" th:inline="javascript">	
       /*<![CDATA[*/
       function validationPost(lien){
		var csrf={};
		csrf[ /*[[${#ctx.containsVariable('_csrf')}? ${_csrf.parameterName}:'_csrf']]*/ '_csrf' ] = /*[[${#ctx.containsVariable('_csrf')}?${_csrf.getToken()}:'']]*/ 'vide';
		bootbox.confirm(/*[[#{msgConfirmDelete}]]*/ 'Sure?',
				function(ok){
					if (ok){ post(lien,csrf);}
				})
		}
        /*]]>*/					      
	  </script>
	</div>
</body>
</html>
