<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{LigneCmd.detail.titre}">Détail de la LigneCmd</title>
</head>

<body>
	<main class="container" layout:fragment="content">
		<div class="row">
			<div class="col">
				<h3 th:text="#{LigneCmd.detail.titre}"></h3>
				<div style="margin-bottom: 10px;"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-8">
				<table class="table">
					<tr>
						<td>Commande ID:</td>
						<td th:text="${ligneCmd.commande.id}"></td>
					</tr>
					<tr>
						<td>Produit ID:</td>
						<td th:text="${ligneCmd.produit.id}"></td>
					</tr>

					<tr>
						<td>Quantite:</td>
						<td th:text="${ligneCmd.quantite}"></td>
					</tr>
					<tr>
						<td>Prix:</td>
						<td th:text="${ligneCmd.prix}"></td>
					</tr>
					<tr>
						<td>What Type:</td>
						<td th:text="${ligneCmd.whatType}"></td>
					</tr>
					<tr>
						<td>Details:</td>
						<td th:text="${ligneCmd.details}"></td>
					</tr>
					<tr>
						<td>Type Budget:</td>
						<td th:text="${ligneCmd.commande.typeBudget}"></td>
					</tr>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col p-2 text-left"></div>
		</div>
	</main>
	<div layout:fragment="optional">
		<script th:src="@{/webjars/bootbox/bootbox.js}"></script>
		<script th:src="@{/js/myJS.js}"></script>
		<script type="text/javascript" th:inline="javascript">
         /*<![CDATA[*/
         function validationPost(lien){
             // This line declares an empty object named csrf that will be used 
             // to store Cross-Site Request Forgery (CSRF) token information.
             var csrf={};
             csrf['_csrf'] = 'vide';
             bootbox.confirm('Sure?', function(ok){
                 if (ok){ post(lien,csrf);}
             })
         }
         
         function redirectToAlertListQuantity() {
             window.location.href = 'http://localhost:5050/alert/listQuantities';
         }
         
         function redirectToAlertListValidity() {
             window.location.href = 'http://localhost:5050/alert/listValidities';
         }
         /*]]>*/					      
     </script>
	</div>
</body>
</html>
